/*Root Variables*/
:root{
  --main-radius:5px;
  --main-padding: 5px;
}

/*Styles for body*/
body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
}

/*fonts*/
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
}

/*Styles for header container*/
.headerContainer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  height: 44px;
  display: grid;
  grid-template-columns: 30px 270px 1fr 30px 100px;
  grid-gap: 4px;
  grid-template-areas: "p1 p2 p3 p4 p5";
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  font-family: 'Noto Sans KR', sans-serif;
}

.headerContainer #P1{
  grid-area: p1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.headerContainer #P2{
  grid-area: p2;
  display: flex;
  align-items: center;
  justify-content: left;
}

.headerContainer #P3{
  grid-area: p3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgb(212, 212, 212); 
  border-right: 1px solid rgb(212, 212, 212); 
  padding: 10px;
}

.headerContainer #P4{
  grid-area: p4;
  display: flex;
  align-items: center;
  justify-content: right;
}

.headerContainer #P5{
  grid-area: p5;
  display: flex;
  align-items: center;
  justify-content: left;
}



/*Styles for main container*/
.maincontainer {
  margin-top: 50px;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas: 
  "nav nav nav nav"
  "sidebar main main main"
  "sidebar content1 content2 content3"
  "footer footer footer footer";
  grid-gap: 4px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  color: #3d3d3d;
  text-align: center;
}

.maincontainer nav {
  background-color: #f2f2f2;
  grid-area: nav;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  font-weight: 800;
  font-size: 24px;
}

.maincontainer main {
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  display: flex;
  justify-content: center;
}

.maincontainer #sidebar {
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  min-width: 250px;
}

.maincontainer #content1 {
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

.maincontainer #content2 {
  grid-area: content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

.maincontainer #content3 {
  grid-area: content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

.maincontainer #footer {
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

/*Style for tables*/
.table-styling {
  border-collapse: collapse;
  margin: 28px auto;
  border: 2px solid #ccc;
  box-shadow: 0px 0px 8px 0px #ccc;
}

.table-styling th,
.table-styling td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

/*Styles for buttons*/
#buttons {
  margin-top: 12px;
  justify-content: center;
  margin-bottom: 12px;
}

#buttons button {
  background-color: #0a255f;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  width: 80%;
  justify-content: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}

#buttons button:hover {
  transform: scale(1.1);
}

/*styles for graph*/
.graph-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100%;
  margin: 0 auto;
}

/*Styles for header*/
.header {
  background-color: #ffffff;
  color: #3d3d3d;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
}

.headerContainer .psp {
  font-size: 20px;
  font-weight: bold;
  color: #0a255f;
  margin-left: 20px;
  text-decoration: none;
}

.navBar {
  color: #3d3d3d;
  text-decoration: none;
  padding: 0px 20px 0px 20px;
}

.threelines, .user, .account{
  cursor: pointer;
}

.navBar:hover {
  background-color: #f2f2f2;
  border-radius: 4px;
}

.headerContainer .account {
  font-size: 16px;
  font-weight: bold;
  color: #0a255f;
  text-decoration: none;
}

.formAddMove {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #cccccc9f;
  border-radius: 5px;
}

label {
  display: flex;
  margin-bottom: 4px;
  margin-top: 16px;
  font-weight: bold;
}

#input {
  border-radius: 4px;
  height: 24px;
  border: 1px solid #cccccc9f;
}

#input:hover {
  border: 1px solid #4e4d4d9f;
}

textarea {
  display: flex;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 4px;
}

input[type="submit"] {
  margin-top: 18px;
  background-color: #0a255f;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #081c46;
}

/*styles for myaccount*/

.myaccount-wrapper{
  display: flex;
  justify-content: right;
}

.myaccount_container{
  padding: 8px;
  margin-top: 22px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 16px;
  width: 300px;
  height: 400px;
  position: absolute;
  z-index: 99999;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.options_container{
  padding: 8px;
  margin-top: 22px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 16px;
  width: 300px;
  height: 400px;
  position: absolute;
  z-index: 99999;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

#login, #signup {
  padding: 8px 8px 8px 8px;
  border-radius: 16px;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  font-family: 'Noto Sans KR', sans-serif;
  text-decoration: none;
  color: #0a255f;
  margin-top: 4px;
}

.moves_containers{
  width: 300px;
}

#moveButtons {
  padding: 8px 8px 8px 8px;
  border-radius: 16px;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  font-family: 'Noto Sans KR', sans-serif;
  text-decoration: none;
  color: #0a255f;
  margin-top: 4px;
  cursor: pointer;
}

#login:hover, #signup:hover, #moveButtons:hover {
  border: 1px solid #4e4d4d9f;
}

.userblue, .signupblue {
  z-index: 99999;
  margin-right: 8px;
}

.notification {
  display: flex;
  z-index: 99999;
  margin-right: 8px;
  align-self: flex-end;
}

#notification {
  padding: 8px 8px 8px 8px;
  margin-top: 150px;
  border-top: 1px dotted #757575;
  display: flex;
  font-family: 'Noto Sans KR', sans-serif;
  text-decoration: none;
  color: #0a255f;
}

#config {
  margin: 10px 20px 20px 20px;
  display: flex;
  justify-content: end;
}

@media (max-width: 832px) {
  .headerContainer{
    display: grid;
    grid-template-columns: 30px 1fr 30px 100px;
    grid-template-areas: "p1 p2 p4 p5";
  }
  
  .headerContainer #P1{
    grid-area: p1;
  }
  
  .headerContainer #P2{
    grid-area: p2;
  }

  .headerContainer #P3{
    display: none;
  }

  .headerContainer #P4{
    grid-area: p4;
  }

  .headerContainer #P5{
    grid-area: p5;
  }
}

@media only screen and (max-width: 520px){
  .headerContainer{
    display: grid;
    grid-template-columns: 30px 1fr 30px 1px;
    grid-template-areas: "p1 p2 p3 p5";
  }
  
  .headerContainer #P1{
    grid-area: p1;
  }
  
  .headerContainer #P2{
    grid-area: p2;
    justify-content: center;
  }

  .headerContainer #P3{
    display: none;
  }

  .headerContainer #P4{
    grid-area: p3;
  }

  .headerContainer #P5{
    grid-area: p5;
  }
  
  .myaccount_container{
    padding: 8px;
    padding-right: 70px;
    margin-top: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 16px;
    width: 300px;
    height: 400px;  
    z-index: 99999;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  }

  .options_container{
    padding: 8px;
    margin-top: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 16px;
    width: 300px;
    height: 400px;  
    z-index: 99999;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  }

  .maincontainer {
    margin-top: 50px;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas: 
    "nav"
    "sidebar"
    "main"
    "content1"
    "content2"
    "content3"
    "footer";
    grid-gap: 4px;
  }
}
